<div class="uml-view-container">
  <div class="uml-view-buttons">
    <button mat-button (click)="openAddClassDialog()">Add Class</button>
    <button mat-button [disabled]="getGraph().getCells().length < 2" (click)="connectClasses()">Connect Classes</button>
    <button mat-button (click)="clearGraph()">Clear Graph</button>
  </div>
  <div class="dropdown">
    <button mat-button (click)="openImportDialog()">Import</button>
    <button mat-button (click)="openExportDialog()">Export</button>
  </div>
</div>
<div id="paper"></div>
