<div class="uml-view-container">
  <div class="uml-view-buttons">
    <button mat-button (click)="openAddClassDialog()">Add Class</button>
    <div class="note-box">
      To create associations, click the checkbox on 2 classes.
    </div>
    <button mat-button (click)="clearGraph()">Edit Diagram</button>
    <button mat-button (click)="clearGraph()">Clear Diagram</button>
  </div>
  <div class="dropdown">
    <button mat-button (click)="openImportDialog()">Import</button>
    <button mat-button (click)="openExportDialog()">Export</button>
  </div>
</div>
<div id="paper"></div>
